
{
  "printWidth": 80,          
  "tabWidth": 2,             
  "semi": true,              
  "useTabs": false, 
  "singleQuote": true,       
  "arrowParens": "always",   
  "trailingComma": "all",    
  "bracketSpacing": true,    
  "proseWrap": "preserve",   
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "css"
  
}