@import url('https://api.fontshare.com/v2/css?f[]=clash-display@1&display=swap');
@import url('https://fonts.cdnfonts.com/css/satoshi');

:root {
  --font-satoshi-family: 'Satoshi', sans-serif;
  --font-clash-family: 'Clash Display', sans-serif;
  --font-wght-thin: 100;
  --font-wght-ExtraLight: 200;
  --font-wght-light: 300;
  --font-wght-regular: 400;
  --font-wght-medium: 500;
  --font-wght-semiBold: 600;
  --font-wght-bold: 700;
  --font-wght-ExtraBold: 800;
  --font-wght-heavy: 900;
}








.quantity-c {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding-block: 1.5em;
}


.quantity-m-c {
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  padding-inline: 1.1em;
  padding-block: 0.3em;
}

.quantity-sb {
  font-size: 1em;
  font-family: var(--font-clash-family);
  font-weight: var(--font-wght-regular);
}

.quantity-number {
  font-family: var(--font-satoshi-family);
  font-weight: var(--font-wght-regular);
}

.quantity-subtract,
.quantity-add {
  color: #ebe8f4;
  background-color: transparent;
  appearance: none;
}


/* inspect component  */

















/* @media (min-width: 767px) {




  .desk-inspect-logo {
    height: 100%;
    background-image: url('/src/assets/images/Inspect-image.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }






} */
